@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  height: 100dvh !important;
  background-color: #111827;
  letter-spacing: normal;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #7e22ce; /* purple base */
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #7e22ce;
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0.6);
  }

  50% {
    transform: scale(1.2);
    background-color: #3b82f6; /* blue pulse */
    box-shadow: 0 0 0 10px rgba(99, 102, 241, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #7e22ce;
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0.6);
  }
}

body {
  margin: 0;
  height: 100vh;
 
}

.ball-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.blurred-ball {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.9;
  animation: float 6s infinite ease-in-out alternate;
}

/* Multiple glowing color variations */
.ball1 {
  top: 20%;
  left: 30%;
  background: #7e22ce;
  box-shadow: 0 0 150px #a855f7;
  animation-delay: 0s;
}

.ball2 {
  top: 50%;
  left: 60%;
  background: #3b82f6;
  box-shadow: 0 0 150px #60a5fa;
  animation-delay: 1s;
}

.ball3 {
  top: 70%;
  left: 40%;
  background: #f43f5e;
  box-shadow: 0 0 150px #fb7185;
  animation-delay: 2s;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0.8;
  }
}




.GlassEffect {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
