@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  height: 100dvh !important;
  background-color: #111827;
  letter-spacing: normal;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #7e22ce; /* purple base */
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #7e22ce;
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0.6);
  }

  50% {
    transform: scale(1.2);
    background-color: #3b82f6; /* blue pulse */
    box-shadow: 0 0 0 10px rgba(99, 102, 241, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #7e22ce;
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0.6);
  }
}

.GlassEffect {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
